{% extends 'base.html' %}

{% block content %}
<style>
	.container {
		display: flex;
		flex-direction: column;
		align-items: flex-start; /* Align content to the left */
		width: 100%;
		max-width: 1200px;
		margin-left: 200px; /* Adjusted for sidebar */
		padding: 10px;
		transition: margin-left 0.3s ease;
	}

	.container h1 {
		margin-bottom: 10px; /* Reduce spacing between heading and table */
	}

	.content {
		margin-top: 60px; /* Ensure space below the fixed header */
	}
	.container.expanded {
		margin-left: 60px; /* Adjusted for collapsed sidebar */
	}
	.table {
		width: 100%;
		border-collapse: collapse;
		margin: 10px 0; /* Reduced margin */
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
	.table th, .table td {
		padding: 12px 15px;
		text-align: left;
		border-bottom: 1px solid #ddd;
	}
	.table th {
		background-color: #f8f9fa;
		font-weight: 500;
	}
	.table tbody tr:hover {
		background-color: #f1f1f1;
	}
</style>
	<div class="container" id="container">
		<h1>Inbound Check</h1>
		<table class="table">
			<thead>
				<tr>
					<th>PO Number</th>
					<th>Created Date</th>
					<th>Status</th>
					<th>Supplier ID</th>
				</tr>
			</thead>
			<tbody>
				{% for row in data %}
				<tr>
					<td>
						<a href="{% url 'material_inward:po-details' row.PO_NO %}" class="po-link">{{ row.PO_NO }}</a>
					</td>
					<td>{{ row.CREATED_DATE }}</td>
					<td>{{ row.STATUS }}</td>
					<td>{{ row.SUPPLIER_ID }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<script>
        const sidebar = document.getElementById('sidebar');
        const content = document.getElementById('content');
        const toggleBtn = document.getElementById('toggle-btn');
        toggleBtn.addEventListener('click', () => {
            sidebar.classList.toggle('collapsed');
            content.classList.toggle('expanded');
        });
	window.addEventListener("pageshow", function (event) {
		if (event.persisted) {
			location.reload(); // Forces reload when navigating back
		}
	});
	</script>
{% endblock %}